<section>
  <app-processing-modal [process]="processing"></app-processing-modal>
  <app-error-modal [open]="error" [message]="aMessage"></app-error-modal>
  <app-warning-modal [open]="warning" [message]="aMessage"></app-warning-modal>
  <app-success-modal [open]="success" [message]="aMessage"></app-success-modal>
</section>

<main>
  <div class="py-6 px-8">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      Settings
    </h1>
    <section class="max-screen-w-lg mx-auto">
      <div>
        <div class="w-full flex items-center justify-center">
          <div class="py-6 w-full max-w-screen-lg">
            <div>
              <h2 class="uppercase font-semibold leading-6 text-lg">
                Manage password
              </h2>
            </div>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
              <div class="mt-8">
                <div>
                  <div>
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Change password</h3>
                    <p class="mt-1 text-sm leading-5 text-gray-600">
                      Reset your current password to a new password.
                    </p>
                  </div>
                  <div class="mt-5 w-full">
                    <form [formGroup]="changePasswordForm" (submit)="changePassword()">
                      <div class="shadow overflow-hidden rounded-sm">
                        <div class="p-6 bg-white">
                          <div class="grid grid-cols-2">
                            <div class="col-span-1 space-y-6">
                              <div>
                                <label for="old-password" class="block text-sm font-medium leading-5 text-gray-700">Old
                                  password</label>
                                <input id="old-password" type="password" class="mt-1 py-2"
                                  formControlName="oldPassword">
                              </div>
                              <div>
                                <label for="new-password" class="block text-sm font-medium leading-5 text-gray-700">New
                                  password</label>
                                <input id="new-password" type="password" class="mt-1 py-2"
                                  formControlName="newPassword">
                              </div>
                              <div>
                                <label for="matching-password"
                                  class="block text-sm font-medium leading-5 text-gray-700">Matching password</label>
                                <input id="matching-password" type="password" class="mt-1 py-2"
                                  formControlName="matchingPassword">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="px-6 py-3 bg-gray-50 text-right">
                          <div class="inline-flex">
                            <button type="submit" [disabled]="!changePasswordForm.valid"
                              [class]="{'cursor-not-allowed': !changePasswordForm.valid}"
                              class="btn py-2 text-white bg-cool-gray-900 shadow hover:shadow-md">
                              Set new password
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>