<section>
  <app-processing-modal [process]="processing"></app-processing-modal>
  <app-error-modal [message]="aMessage" [open]="error"></app-error-modal>
  <app-success-modal [message]="aMessage" [open]="success"></app-success-modal>
</section>

<main>
  <div class="py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      Devices
    </h1>
    <section *ngIf="viewingDevices" class="max-screen-w-lg mx-auto">
      <div class="px-4 py-6 sm:px-0">
        <div class="w-full flex items-center justify-center">
          <div class="py-6 w-full max-w-screen-lg">
            <div class="flex items-start justify-between">
              <div>
                <h2 class="uppercase font-semibold leading-6 text-lg text-remit-blue-900">
                  Manage devices
                </h2>
                <p class="mt-1 text-sm leading-5 text-gray-600">
                  Devices registered under your account
                </p>
              </div>
              <div>
                <button (click)="viewingDevices=false; registeringDevice=true" class="btn py-2  text-white bg-cool-gray-900 shadow hover:shadow-md"
                        type="button">
                  New device
                </button>
              </div>
            </div>
            <div *ngIf="!hasDevices" class="mt-10">
              <div class="flex flex-col items-center justify-center">
                <svg class="w-16 h-16" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                        fill-rule="evenodd"/>
                </svg>
                <div>
                  You don't have any devices registered under your account, yet.
                  <button (click)="viewingDevices=false; registeringDevice=true" class="underline">Add a
                    device
                  </button>
                  instead
                </div>
              </div>
            </div>
            <div *ngIf="hasDevices">
              <form *ngIf="false" class="text-right">
                <div class="mt-4 max-w-md inline-grid grid-cols-2 grid-flow-row gap-x-1">
                  <div class="relative text-left">
                    <label class="block text-sm font-medium leading-5 text-gray-700" for="search-by">Search by</label>
                    <svg class="w-5 h-5 absolute z-10 right-0 mx-2 my-3 text-gray-500"
                         fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path clip-rule="evenodd"
                            d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                            fill-rule="evenodd"/>
                    </svg>
                    <select class="mt-1 py-2" id="search-by">
                      <option value="imei">IMEI</option>
                      <option value="type">Type</option>
                      <option value="status">Status</option>
                    </select>
                  </div>
                  <div class="text-left">
                    <label class="block text-sm font-medium leading-5 text-gray-700" for="search_parameter">
                      Search key</label>
                    <div class="mt-1 relative rounded-sm shadow-sm">
                      <input class="mt-1 py-2" id="search_parameter" type="text">
                      <div class="absolute inset-y-0 right-0 flex items-center">
                        <button class="px-2 focus:outline-none" type="submit">
                          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                               xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"/>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="mt-4 flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-sm">
                      <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                        <tr>
                          <th
                            class="px-6 py-3 bg-cool-gray-900 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">
                            IMEI
                          </th>
                          <th
                            class="px-6 py-3 bg-cool-gray-900 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">
                            Type
                          </th>
                          <th
                            class="px-6 py-3 bg-cool-gray-900 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">
                            Status
                          </th>
                          <th class="px-6 py-3 bg-cool-gray-900"></th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let d of devices">
                          <td class="px-6 py-4 whitespace-no-wrap">
                            <div>
                              <div class="text-sm leading-5 font-medium text-gray-900">
                                {{d.imei}}
                              </div>
                            </div>
                          </td>
                          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                            <div class="text-sm leading-5 text-gray-500">{{d.type}}</div>
                          </td>
                          <td class="px-6 py-4 whitespace-no-wrap">
                              <span *ngIf="d.status.toLowerCase() === 'active'"
                                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                Active
                              </span>
                            <span *ngIf="d.status.toLowerCase() !== 'active'"
                                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-orange-100 text-orange-800">
                                Blocked
                              </span>
                          </td>
                          <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                            <button (click)="changeDeviceStatus(d)" *ngIf="d.status.toLowerCase() !== 'active'"
                                    class="text-green-600 hover:text-green-900">Activate
                            </button>
                            <button (click)="changeDeviceStatus(d)" *ngIf="d.status.toLowerCase() === 'active'"
                                    class="text-orange-500 hover:text-orange-600">Block
                            </button>
                            <button (click)="onEditDevice(d)"
                                    class="ml-4 text-cool-gray-800 hover:text-cool-gray-900">Edit
                            </button>
                            <button (click)="fsDialog=true; deletingDevice=true; device=d"
                                    class="ml-4 text-red-600 hover:text-red-900">Delete
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <div class="pt-4 flex items-center justify-center">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="registeringDevice" class="max-screen-w-lg mx-auto">
      <div class="px-4 py-6 sm:px-0">
        <div class="w-full flex items-center justify-center">
          <div class="py-6 w-full max-w-screen-lg">
            <div>
              <h2 class="uppercase font-semibold leading-6 text-lg text-remit-blue-900">
                Register device
              </h2>
            </div>
            <form (ngSubmit)="registerDevice()" [formGroup]="registerDeviceForm">
              <div class="mt-8">
                <div>
                  <div>
                    <div class="px-4 sm:px-0">
                      <h3 class="text-lg font-medium leading-6 text-gray-900">Device Information</h3>
                      <p class="mt-1 text-sm leading-5 text-gray-600">
                        Information about the device.
                      </p>
                    </div>
                  </div>
                  <div class="mt-5 w-full">
                    <div>
                      <div class="shadow overflow-hidden sm:rounded-sm">
                        <div class="px-4 py-5 bg-white sm:p-6">
                          <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                              <label class="block text-sm font-medium leading-5 text-gray-700" for="imei">IMEI</label>
                              <input class="mt-1 py-2" formControlName="imei" id="imei" type="text">
                            </div>
                            <div class="relative col-span-6 sm:col-span-3">
                              <label class="block text-sm font-medium leading-5 text-gray-700" for="type">Type</label>
                              <svg class="w-5 h-5 absolute z-10 right-0 mx-2 my-3 text-gray-500"
                                   fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                      d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                      fill-rule="evenodd"/>
                              </svg>
                              <select class="mt-1 py-2" formControlName="type" id="type">
                                <option value="APP">APP</option>
                                <option value="ATM">ATM</option>
                                <option value="SMS">SMS</option>
                                <option value="USSD">USSD</option>
                                <option value="WEB">WEB</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 flex items-center justify-between sm:px-6">
                          <div>
                            <button (click)="registeringDevice=false; viewingDevices=true" class="btn py-2 bg-white shadow hover:shadow-md"
                                    type="button">
                              View devices
                            </button>
                          </div>
                          <div class="text-right">
                            <button [class]="{'cursor-not-allowed': !registerDeviceForm.valid}" [disabled]="!registerDeviceForm.valid"
                                    class="btn py-2 text-white bg-cool-gray-900 shadow hover:shadow-md"
                                    type="submit">
                              Add device
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="fsDialog" class="absolute z-10 inset-0 overflow-y-auto">
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-500 opacity-75">
      </div>
      <button (click)="closeFsDialog()"
              class="absolute mt-20 mr-8 right-0 top-0 p-2 bg-white rounded-full cursor-pointer focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        </svg>
      </button>
    </div>
    <div class="h-full flex items-center justify-center">
      <div
        aria-labelledby="modal-headline"
        aria-modal="true" class="w-full max-w-screen-md bg-white rounded-sm text-left overflow-hidden shadow-xl transform transition-all sm:my-8" role="dialog">
        <section *ngIf="editingDevice">
          <form (ngSubmit)="updateDevice()" [formGroup]="editDeviceForm" class="w-full">
            <div>
              <div>
                <div class="px-4 pt-4 sm:px-6 sm:pt-6">
                  <h3 class="text-lg font-medium leading-6 text-gray-900">Edit Device</h3>
                  <p class="mt-1 text-sm leading-5 text-gray-600">
                    Edit device information.
                  </p>
                </div>
              </div>
              <div class="mt-5 w-full">
                <div>
                  <div class="overflow-hidden sm:rounded-sm">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                          <label class="block text-sm font-medium leading-5 text-gray-700" for="imei">IMEI</label>
                          <input class="mt-1 py-2" formControlName="imei" id="imei" type="text">
                        </div>
                        <div class="relative col-span-6 sm:col-span-3">
                          <label class="block text-sm font-medium leading-5 text-gray-700" for="type">Type</label>
                          <svg class="w-5 h-5 absolute z-10 right-0 mx-2 my-3 text-gray-500"
                               fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  fill-rule="evenodd"/>
                          </svg>
                          <select class="mt-1 py-2" formControlName="type" id="type">
                            <option value="APP">APP</option>
                            <option value="ATM">ATM</option>
                            <option value="SMS">SMS</option>
                            <option value="USSD">USSD</option>
                            <option value="WEB">WEB</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 flex items-center justify-between sm:px-6">
                      <div>
                        <button (click)="closeFsDialog()" class="btn py-2 text-cool-gray-500 bg-white shadow hover:shadow-md"
                                type="button">
                          Cancel
                        </button>
                      </div>
                      <div class="text-right">
                        <button class="btn py-2 text-white bg-cool-gray-900 shadow hover:shadow-md" type="submit">
                          Save changes
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </section>
        <section *ngIf="deletingDevice">
          <div class="px-4 pt-4 flex flex-start sm:px-6 sm:pt-6">
            <div
              class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg aria-hidden="true" class="h-6 w-6 text-red-600" fill="none" stroke="currentColor"
                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2"/>
              </svg>
            </div>
            <div class="ml-4">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Delete Device</h3>
              <p class="mt-1 text-sm leading-5 text-gray-600">
                You're about to delete device {{device.imei}}. This action cannot be undone!
              </p>
            </div>
          </div>
          <div class="mt-5 w-full">
            <div class="overflow-hidden sm:rounded-sm">
              <div class="px-4 py-3 bg-gray-50 flex items-center justify-between sm:px-6">
                <div>
                  <button (click)="closeFsDialog()" class="btn py-2 text-cool-gray-500 bg-white shadow hover:shadow-md"
                          type="button">
                    Cancel
                  </button>
                </div>
                <div class="text-right">
                  <button (click)="deleteDevice()" class="btn py-2 text-white bg-red-600 shadow hover:shadow-md"
                          type="button">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
