<div *ngIf="alert" class="absolute inset-0">
  <div class="flex min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div
      class="inline-block align-bottom bg-white rounded-sm text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white p-6">
        <div class="flex items-start justify-between">
          <div class="flex items-start">
            <div
              class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                An error occured
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  {{alert}}
                </p>
              </div>
            </div>
          </div>
          <div>
            <button type="button" (click)="alert = null">
              <svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      Device Management
    </h1>
    <section *ngIf="viewingDevices" class="max-screen-w-lg mx-auto">
      <div class="px-4 py-6 sm:px-0">
        <div class="w-full flex items-center justify-center">
          <div class="py-6 w-full max-w-screen-lg">
            <div class="flex items-start justify-between">
              <div>
                <h2 class="uppercase font-semibold leading-6 text-lg text-remit-blue-900">
                  View devices
                </h2>
                <p class="mt-1 text-sm leading-5 text-gray-600">
                  Devices registered under your account.
                </p>
              </div>
              <div>
                <button type="button" (click)="viewingDevices=false; registeringDevice=true"
                  class="btn py-2  text-white bg-cool-gray-900 shadow hover:shadow-md">
                  New device
                </button>
              </div>
            </div>
            <div *ngIf="!hasDevices" class="mt-10">
              <div class="flex flex-col items-center justify-center">
                <svg class="w-16 h-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd" />
                </svg>
                <div>
                  You don't have any devices registered under your account, yet.
                  <button (click)="viewingDevices=false; registeringDevice=true" class="underline">Add a
                    device</button> instead.
                </div>
              </div>
            </div>
            <div *ngIf="hasDevices">
              <div>
                <form class="text-right">
                  <div class="mt-4 max-w-md inline-grid grid-cols-2 grid-flow-row gap-x-1">
                    <div class="relative text-left">
                      <label for="search-by" class="block text-sm font-medium leading-5 text-gray-700">Search by</label>
                      <svg class="w-5 h-5 absolute z-10 right-0 mx-2 my-3 text-gray-500"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                          d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                          clip-rule="evenodd" />
                      </svg>
                      <select id="search-by" class="mt-1 py-2">
                        <option value="imei">IMEI</option>
                        <option value="type">Type</option>
                        <option value="status">Status</option>
                      </select>
                    </div>
                    <div class="text-left">
                      <label for="search_parameter" class="block text-sm font-medium leading-5 text-gray-700">
                        Search key</label>
                      <div class="mt-1 relative rounded-sm shadow-sm">
                        <input id="search_parameter" type="text" class="mt-1 py-2">
                        <div class="absolute inset-y-0 right-0 flex items-center">
                          <button type="submit" class="px-2 focus:outline-none">
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                              stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="false" class="mt-8 flex flex-col items-center">
                <svg class="w-10 h-10 text-cool-gray-400 animate-bounce" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
                </svg>
              </div>
              <div class="mt-2 flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                  <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-sm">
                      <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                          <tr>
                            <th
                              class="px-6 py-3 bg-cool-gray-900 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">
                              IMEI
                            </th>
                            <th
                              class="px-6 py-3 bg-cool-gray-900 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">
                              Type
                            </th>
                            <th
                              class="px-6 py-3 bg-cool-gray-900 text-left text-xs leading-4 font-medium text-white uppercase tracking-wider">
                              Status
                            </th>
                            <th class="px-6 py-3 bg-cool-gray-900"></th>
                          </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                          <tr *ngFor="let d of devices">
                            <td class="px-6 py-4 whitespace-no-wrap">
                              <div>
                                <div class="text-sm leading-5 font-medium text-gray-900">
                                  {{d.imei}}
                                </div>
                              </div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                              <div class="text-sm leading-5 text-gray-500">{{d.type}}</div>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap">
                              <span
                                class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                Active
                              </span>
                            </td>
                            <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                              <button *ngIf="d.status.toLowerCase() !== 'active'"
                                class="text-green-600 hover:text-green-900">Activate</button>
                              <button *ngIf="d.status.toLowerCase() === 'active'"
                                class="text-orange-500 hover:text-orange-600">Deactivate</button>
                              <button (click)="onEditDevice(d)"
                                class="ml-4 text-cool-gray-800 hover:text-cool-gray-900">Edit</button>
                              <button (click)="fsDialog=true; deletingDevice=true; device=d"
                                class="ml-4 text-red-600 hover:text-red-900">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="pt-4 flex items-center justify-center">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="registeringDevice" class="max-screen-w-lg mx-auto">
      <div class="px-4 py-6 sm:px-0">
        <div class="w-full flex items-center justify-center">
          <div class="py-6 w-full max-w-screen-lg">
            <div>
              <h2 class="uppercase font-semibold leading-6 text-lg text-remit-blue-900">
                Register device
              </h2>
            </div>
            <form [formGroup]="registerDeviceForm" (ngSubmit)="registerDevice()">
              <div class="mt-8">
                <div>
                  <div>
                    <div class="px-4 sm:px-0">
                      <h3 class="text-lg font-medium leading-6 text-gray-900">Device Information</h3>
                      <p class="mt-1 text-sm leading-5 text-gray-600">
                        Information about the device.
                      </p>
                    </div>
                  </div>
                  <div class="mt-5 w-full">
                    <div>
                      <div class="shadow overflow-hidden sm:rounded-sm">
                        <div class="px-4 py-5 bg-white sm:p-6">
                          <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6 sm:col-span-3">
                              <label for="imei" class="block text-sm font-medium leading-5 text-gray-700">IMEI</label>
                              <input id="imei" type="text" class="mt-1 py-2" formControlName="imei">
                            </div>
                            <div class="relative col-span-6 sm:col-span-3">
                              <label for="type" class="block text-sm font-medium leading-5 text-gray-700">Type</label>
                              <svg class="w-5 h-5 absolute z-10 right-0 mx-2 my-3 text-gray-500"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd" />
                              </svg>
                              <select id="type" class="mt-1 py-2" formControlName="type">
                                <option value="APP">APP</option>
                                <option value="ATM">ATM</option>
                                <option value="SMS">SMS</option>
                                <option value="USSD">USSD</option>
                                <option value="WEB">WEB</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 flex items-center justify-between sm:px-6">
                          <div>
                            <button type="button" (click)="registeringDevice=false; viewingDevices=true"
                              class="btn py-2 bg-white shadow hover:shadow-md">
                              View devices
                            </button>
                          </div>
                          <div class="text-right">
                            <button type="submit" [disabled]="!registerDeviceForm.valid"
                              [class]="{'cursor-not-allowed': !registerDeviceForm.valid}"
                              class="btn py-2 text-white bg-cool-gray-900 shadow hover:shadow-md">
                              Add device
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="fsDialog" class="absolute z-10 inset-0 overflow-y-auto">
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-500 opacity-75">
      </div>
      <button (click)="closeFsDialog()"
        class="absolute mt-20 mr-8 right-0 top-0 p-2 bg-white rounded-full cursor-pointer focus:outline-none">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="h-full flex items-center justify-center">
      <div
        class="w-full max-w-screen-md bg-white rounded-sm text-left overflow-hidden shadow-xl transform transition-all sm:my-8"
        role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <section *ngIf="editingDevice">
          <form [formGroup]="editDeviceForm" (ngSubmit)="updateDevice()" class="w-full">
            <div>
              <div>
                <div class="px-4 pt-4 sm:px-6 sm:pt-6">
                  <h3 class="text-lg font-medium leading-6 text-gray-900">Edit Device</h3>
                  <p class="mt-1 text-sm leading-5 text-gray-600">
                    Edit device information.
                  </p>
                </div>
              </div>
              <div class="mt-5 w-full">
                <div>
                  <div class="overflow-hidden sm:rounded-sm">
                    <div class="px-4 py-5 bg-white sm:p-6">
                      <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                          <label for="imei" class="block text-sm font-medium leading-5 text-gray-700">IMEI</label>
                          <input id="imei" type="text" class="mt-1 py-2" formControlName="imei">
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                          <label for="type" class="block text-sm font-medium leading-5 text-gray-700">Type</label>
                          <input id="type" type="text" class="mt-1 py-2" formControlName="type">
                        </div>
                      </div>
                    </div>
                    <div class="px-4 py-3 bg-gray-50 flex items-center justify-between sm:px-6">
                      <div>
                        <button type="button" (click)="closeFsDialog()"
                          class="btn py-2 text-cool-gray-500 bg-white shadow hover:shadow-md">
                          Cancel
                        </button>
                      </div>
                      <div class="text-right">
                        <button type="submit" class="btn py-2 text-white bg-cool-gray-900 shadow hover:shadow-md">
                          Save changes
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </section>
        <section *ngIf="deletingDevice">
          <div class="px-4 pt-4 flex flex-start sm:px-6 sm:pt-6">
            <div
              class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
              </svg>
            </div>
            <div class="ml-4">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Delete Device</h3>
              <p class="mt-1 text-sm leading-5 text-gray-600">
                You're about to delete device {{device.imei}}. This action cannot be undone!
              </p>
            </div>
          </div>
          <div class="mt-5 w-full">
            <div class="overflow-hidden sm:rounded-sm">
              <div class="px-4 py-3 bg-gray-50 flex items-center justify-between sm:px-6">
                <div>
                  <button type="button" (click)="closeFsDialog()"
                    class="btn py-2 text-cool-gray-500 bg-white shadow hover:shadow-md">
                    Cancel
                  </button>
                </div>
                <div class="text-right">
                  <button type="button" (click)="deleteDevice()"
                    class="btn py-2 text-white bg-red-600 shadow hover:shadow-md">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>